@model EtnoSelo.App.Models.GradUrediVM
@{
    ViewBag.Title = "Uredi";
}

<h2>Uredi</h2>

@using (Html.BeginForm("Uredi"))
{
    @Html.HiddenFor(x => x.grad.Id)
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">

            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.grad.Naziv)
                @Html.TextBoxFor(x => x.grad.Naziv, new { @class = "form-control", placeholder = "Naziv države" })
                @Html.ValidationMessageFor(x => x.grad.Naziv)
            </div>

        </div>

    </div>
    <div class="row">
        <div class="col-sm-12">
            <input type="submit" value="Snimi" class="btn btn-success" />

            @Html.ActionLink("Odustani", "Index", null, new { @class = "btn btn-danger", style = "margin-left:40px" })
        </div>


    </div>

}

